.pagination{
    margin: 20px auto;
    text-align: center;
    width: 100%;
}
.pages{
    font-family: Arial, Helvetica, sans-serif;
}
.pages li{
    display: inline-block;
    margin: 0 2px;
}
.pages li.prev{
    margin-right: 15px;
}
.pages li.nex{
    margin-left: 15px;
}
.pages li a{
    background: url(img/pagination.png) repeat-x 0 0;
    border: 1px solid #d5d5d5;
    color: #666666;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
    padding: 4px 8px;
    text-decoration: none;
}
.pages li a:hover{
    background: #efefef;
}
.pages li.active a{
    background-position: 0 -26px;
    border-color: #687282;
    color: #fff;
    cursor: default;
}
.pages li.active a:hover{
    background: #687282;
}
.pages li.disabled a{
    cursor: default;
}
.pages li.disabled a:hover{
    background: url(img/pagination.png) repeat-x 0 0;
}
.pages li.hide{
    display: none;
}