---
layout: page
---
{% include JB/setup %}


<div class="article">
    <div class="article-inner">
        <div class="article-title">
            <h1>关于我</h1>
        </div>
        <div class="article-entry">
            <div class="content" id="aboutContent">
                <div id="aboutLeft">
                    <img src="/assets/photos/haibala.jpg" style="max-width:245px;">
                </div>
                <div id="aboutRight">
                    <p>大家好，我叫<span class="fs-32 blue">啊冒</span>，来自<span class="fs-28 aqua">蓝鲸</span>大学<span class="fs-24 pink">软件</span>学院</p>
                    <p>目前<span class="fs-28 gold">在上海</span>工作</p>
                    <p>喜欢<span class="fs-24 violet">运动</span>，喜欢<span class="fs-28 purple">骑车</span>，喜欢有<span class="fs-32 aqua">山</span>有<span class="fs-28 blue">海</span></p>
                    <p>不喜欢<span class="fs-28 pink">人</span><span class="fs-24 aqua">山</span><span class="fs-28 purple">人</span><span class="fs-24 blue">海</span></p>
                    <p>热爱<span class="fs-32 pink">前端</span>，更爱<span class="fs-28 orange">生活</span></p>
                    <p>最爱<span class="fs-28 gold">夕阳</span>下的<span class="fs-32 blue">思考</span>和<span class="fs-28 violet">奔跑</span></p>
                    <p>
                        <img src="/assets/photos/weibo.png" style="max-width:24px; vertical-align:text-bottom;">
                        <a href="http://weibo.com/u/2297163921" target="_blank">@l依然宁静</a>
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="article">
    <div class="article-inner">
        <div class="article-title">
            <h1>给我留言</h1>
        </div>
        <div class="article-entry">
            {% include JB/comments %}
        </div>
    </div>
</div>