---
layout: page
description: fuxiaode,弗晓得,弗晓得依宁,javascript,模块化,web开发,前端开发,阿冒的前端之路
---
{% include JB/setup %}


{% for post in paginator.posts %}
<div class="article">
    <div class="article-info">
        <div class="post-time">
            <a href="{{ BASE_PATH }}{{ post.url }}" data-date="{{ post.date | date_to_utc | date: "%Y-%m-%d" }}">
            	{{ post.date | date_to_utc | date: "%Y年%m月%d日" }}
            </a>
        </div>
        <div class="category">
            <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ post.category }}-ref" class="category-link">{{ post.category }}</a>
        </div>
    </div>
    <div class="article-inner">
        <div class="article-title">
            <h1>
                <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
            </h1>
        </div>
        <div class="article-entry">
            <p>
                {% if post.description %}
                {{ post.description }}
                {% else %}
                {{ post.content | split: '<!-- break -->' | first }}
                {% endif %}
            </p>
            <div class="read-more">
                <a href="{{ BASE_PATH }}{{ post.url }}" class="btn btn-inverse btn-radius">阅读全文</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
    <ul class="pagination-list">
        {% if paginator.page >= 3 %}
        <li class="first"><a href="">1</a></li>
        {% endif %}

        {% if paginator.page >= 4 %}
        <li class="preOmit"><a>...</a></li>
        {% endif %}

        {% if paginator.previous_page %}
        <li class="prePage"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ paginator.previous_page }}</a></li>
        {% endif %}

        <li class="active"><a>{{ paginator.page }}</a></li>

        {% if paginator.next_page %}
        <li class="nextPage"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ paginator.next_page }}</a></li>
        {% endif %}

        {% if paginator.page <= paginator.total_pages - 3 %}
        <li class="nextOmit"><a>...</a></li>
        {% endif %}

        {% if paginator.page <= paginator.total_pages - 2 %}
        <li class="last"><a href="{{ site.paginate_path | replace: ':num', paginator.total_pages }}">{{ paginator.total_pages }}</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}

{% comment %}
{% if paginator.total_pages > 1 %}
<div class="pagination">
    <ul>
        {% if paginator.previous_page %}
        <li class="prev">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn">上一页</a>
        </li>
        {% else %}
        <li class="prev disabled">
            <a></a>
        </li>
        {% endif %}
        {% if paginator.next_page %}
        <li class="next">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn">下一页</a> 
        </li>
        {% else %}
        <li class="next disabled">
            <a></a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endcomment %}