---
layout: page
title: 弗晓得
keywords: fuxiaode, web开发
description: justjavac的个人博客
tagline: 你造吗
---
{% include JB/setup %}

<div class="row-fluid">
	<ul class="posts">
	    {% for post in site.posts %}
	    <li>
	    	<span class="date">{{ post.date | date_to_utc | date: "%Y-%m-%d" }}</span>
	    	<a class="title" href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
	    </li>
	    {% endfor %}
	</ul>

</div>

<!-- <div class="row-fluid">
	<div class="">
		<img src="/assets/custom/img/fire_horse.jpg">
	</div>
	<div class="">
		<img src="/assets/custom/img/fire_fist.jpg">
	</div>
</div> -->