---
layout: page
description: 弗晓得,弗晓得依宁,前端开发,设计,软件工程,程序员,web开发,生活,思考
---
{% include JB/setup %}

{% for post in paginator.posts %}
<div class="article" id="">
    <div class="article-info">
        <div class="post-time">
            <a href="{{ BASE_PATH }}{{ post.url }}" data-date="{{ post.date | date_to_utc | date: "%Y-%m-%d" }}">
            	{{ post.date | date_to_utc | date: "%Y年%m月%d日" }}
            </a>
        </div>
        <div class="category">
            <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ post.category }}-ref" class="category-link">{{ post.category }}</a>
        </div>
    </div>
    <div class="article-inner">
        <div class="article-title">
            <h1>
                <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
            </h1>
        </div>
        <div class="article-entry">
            <p>
                {% if post.description %}
                {{ post.description }}
                {% else %}
                {{ post.content | split: '<!-- break -->' | first }}
                {% endif %}
            </p>
            <div class="read-more">
                <a href="{{ BASE_PATH }}{{ post.url }}" class="btn btn-inverse btn-radius">阅读全文</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
    <ul>
        {% if paginator.previous_page %}
        <li class="prev">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn">上一页</a>
        </li>
        {% else %}
        <li class="prev disabled">
            <a></a>
        </li>
        {% endif %}
        {% if paginator.next_page %}
        <li class="next">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn">下一页</a> 
        </li>
        {% else %}
        <li class="next disabled">
            <a></a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}
