<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		
		<meta name="author" content="{{ site.author.name }}">
		{% if page.description %}
		<meta name="description" content="{{ page.description }}">
		{% endif %}
		{% if page.keywords %}
		<meta name="keywords" content="{{ page.keywords }}">
		{% else %}
		<meta name="keywords" content="fuxiaode,弗晓得,javascript,web开发,前端开发,模块化,阿冒的前端之路">
		{% endif %}

		<!-- 站点验证 -->
		<!-- <meta name="baidu-site-verification" content="DlNPNpTkvi" /> -->
		<meta name="baidu-site-verification" content="SbZwqStr5I" />

		<link rel="stylesheet" type="text/css" href="/assets/custom/css/style.css">
		<link rel="stylesheet" type="text/css" href="/assets/custom/css/highlight-hybrid.css">
		<link rel="shortcut icon" href="/favicon.ico">

		<!-- atom & rss feed -->
    	<link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    	<link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

    	{% include JB/analytics %}
		<!-- 其他页面（search页面特殊需求）只会替换content 必须放头部 -->
	    <script type="text/javascript" src="//cdn.staticfile.org/jquery/1.7.2/jquery.min.js"></script>
	</head>
	<body>
	    <div id="bodyWrap">
	        <div id="header">
	            <div id="logo">
	                <div class="outer-padding">
	                    <h1><a href="{{ HOME_PATH }}">Fuxiaode</a></h1>
	                    <h2 class="subtitle">弗晓得</h2>
	                </div>
	            </div>
	            <div id="mainNav">
	                <div class="outer-padding">
	                    <a href="javascript:void(0);" class="nav-icon" id="mainNavToggle">
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                    </a>
	                    <ul class="nav-list" id="mainNavList">
	                        <li>
	                            <a href="/index.html">首页</a>
	                        </li>
	                        <li>
	                            <a href="/archive.html">文章归档</a>
	                        </li>
	                        <li>
	                            <a href="/about.html">关于我</a>
	                        </li>
	                        <li>
	                            <a href="/atom.xml" target="_blank">RSS订阅</a>
	                        </li>
	                        <li class="search">
	                        	<form action="/search.html" method="get">
	                        		<input type="text" name="query" id="queryInput" placeholder="搜索... (输入完成按回车)">
	                        		<!-- <img src="/assets/custom/images/search.png" id="searchIcon"> -->
	                        	</form>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>

	        <div class="outer-padding" id="mainBody">
	            <div id="mainContent">
	                {{ content }}
	            </div>

	            <div id="sidebar">
	                <div class="widget-wrap">
	                    <h3 class="widget-title">文章分类</h3>
	                    <div class="widget">
	                        <ul class="category-list">
	                        	{% for category in site.categories %}
	                            <li>
	                                <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category[0] }}-ref">{{ category[0] }}</a>
	                                <span class="category-list-count">({{ category[1].size }})</span>
	                            </li>
	                            {% endfor %}
	                        </ul>
	                    </div>
	                </div>

	                <div class="widget-wrap">
	                    <h3 class="widget-title">标签云</h3>
	                    <div class="widget tag-cloud">
	                    	{% for tag in site.tags %}
	                        <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref" data-freq="{{ tag[1].size }}">{{ tag[0] }}</a>
	                        {% endfor %}
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div id="footer">
	            <div class="outer-padding">
                    &copy; 2014 - 2017 弗晓得
                    <br>
                    Powered by 
                    <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
	            </div>
	        </div>
	    </div>

		<script type="text/javascript" src="/assets/custom/js/highlight.pack.js"></script>
		<script type="text/javascript">
		(function($){
			// 移动版页面导航栏click
			$('#mainNavToggle').click(function(){
				var target = $('#mainNavList');
				if(target.hasClass('open')){
					target.removeClass('open').hide();
				}
				else{
					target.addClass('open').show();
				}
	        });

	        // 移动版页面导航栏自动收起
	        $('#mainContent').click(function(){
	        	if($('#mainNavList').hasClass('open')){
	        		$('#mainNavToggle').click();
	        	}
	        });

	        // tag cloud字体大小缩放
	        (function(){
	        	var BASE_SIZE = 14;
	        	var MAX_SIZE = 28;
	        	var maxFreq = 0;
	        	$('.tag-cloud').find('a').each(function(){
	        		var freq = Number($(this).attr('data-freq'));
	        		if(freq > maxFreq){
	        			maxFreq = freq;
	        		}
	        	});
	        	$('.tag-cloud').find('a').each(function(){
	        		var freq = Number($(this).attr('data-freq'));
	        		var size = Math.floor(freq / maxFreq * MAX_SIZE);
	        		size = Math.max(size, BASE_SIZE);
	        		$(this).css('font-size', size + 'px');
	        	});
	        })();

	        // 文章中的link添加target和class
			$('.article-entry .content').find('a').each(function(){
				$(this).addClass('info').addClass('underline');
				var link = $(this).attr('href');
				// 外部链接
				if(/^((https?|s?ftp):\/\/)/i.test(link)){
					$(this).attr('target', '_blank');
				}
				// 站内链接
				else if(/^\//i.test(link)){
					$(this).attr('target', '_blank');
				}
				// 页内链接
				// 不另起页面
			});

			// 文章中代码处理
			$('.article-entry .content').find('pre').each(function(){
				$(this).children('code').each(function(i, block){
					// tab缩进改成4个空格
					$(this).text($(this).text().replace(/\t/g, '    '));
					// 高亮
					hljs.highlightBlock(block);
				});
			});

			// sidebar 固定
			(function () {
				if (window.innerWidth <= 768) {
					return;
				}

				var $el = $('#sidebar');
				var elW = $el.outerWidth();
				var elH = $el.outerHeight();

				// var docH = document.body.offsetHeight;
				// var winH = window.innerHeight;
				var winW = window.innerWidth;

				// 元素定位时的上下左右（相对于body）
				var PADDING_TOP = 50;
				var PADDING_BOTTOM = 195;
				var PADDING_LEFT = $el.offset().left;
				var PADDING_RIGHT = winW - PADDING_LEFT - elW;

				// 防止 sidebar 抖动，原因是页面高度不够
    			if ($('#mainBody').height() < elH + PADDING_TOP) {
    				$('#mainBody').css({height: (elH + PADDING_TOP) + 'px'});
    			}

				// 到达页面顶部限制时的 scrollTop值 TODO
				// var TOP_SCROLL_TOP = $el.offset().top - PADDING_TOP;
				// 到达页面底部限制时的 offsetTop值
				var getBottomOffsetTop = function () {
					// 不能直接用 docH，避免页面底部有动态加载的部分而改变页面高度
					return document.body.offsetHeight - elH - PADDING_BOTTOM;
				};

				var offsetTopStart;  // 开始 fixed 时的 offset记录
				var scrollTopEnd;	 // 结束 fixed 时的 scrollTop记录
				var state = 'INIT';  // 当前状态: INIT | FIXED | BOTTOM

				var scrollFn = function(){
					var offset = $el.offset();
					var scrollTop = $(window).scrollTop();

					// INIT => FIXED
					if (scrollTop + PADDING_TOP > offset.top && state === 'INIT') {
						offsetTopStart = offset.top;
						state = 'FIXED';

						$el.css({
							position: 'fixed',
							top: PADDING_TOP + 'px',
							bottom: 'auto',
							left: PADDING_LEFT + 'px',  // 百分比布局下 left 会不准
							right: PADDING_RIGHT + 'px',
							width: elW + 'px'
						});
						return;
					}

					// FIXED => BOTTOM
					if (offset.top > getBottomOffsetTop() && state === 'FIXED') {
						scrollTopEnd = scrollTop;
						state = 'BOTTOM';

						$el.css({
							position: 'absolute',
							top: 'auto',
							bottom: PADDING_BOTTOM + 'px',
							left: PADDING_LEFT + 'px',
							right: PADDING_RIGHT + 'px',
							width: elW + 'px'
						});
						return;
					}

					// BOTTOM => FIXED
					if (scrollTop < scrollTopEnd && state === 'BOTTOM') {
						state = 'FIXED';

						$el.css({
							position: 'fixed',
							top: PADDING_TOP + 'px',
							bottom: 'auto',
							left: PADDING_LEFT + 'px',
							right: PADDING_RIGHT + 'px',
							width: elW + 'px'
						});
						return;
					}

					// FIXED => INIT
					if (offset.top < offsetTopStart && state === 'FIXED') {
						state = 'INIT';
						$el.removeAttr('style');
						return;
					}
				};

				var raf = window.requestAnimationFrame
					|| window.webkitRequestAnimationFrame
					|| window.mozRequestAnimationFrame
					|| function(callback) {
						// 保证 60fps 帧率的流畅效果，每帧间隔 16.7 ms
						window.setTimeout(callback, 1000 / 60);
				};

				setTimeout(function () {
					// raf 节流优化
					$(window).on('scroll', function () {
						raf(scrollFn);
					});
				}, 0);

			})();

		})(jQuery);
		</script>
	</body>
</html>