<div class="article">
    <div class="article-info">
        <div class="post-time">
            <a href="{{ BASE_PATH }}{{ page.url }}" data-date="{{ page.date | date_to_utc | date: "%Y-%m-%d" }}">
                {{ page.date | date_to_utc | date: "%Y年%m月%d日" }}
            </a>
        </div>
        <div class="category">
            <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ page.category }}-ref" class="category-link">{{ page.category }}</a>
        </div>
    </div>
    <div class="article-inner">
        <div class="article-title">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="article-entry">
            <div class="content">
                {{ content }}
            </div>
        </div>

        <div class="article-extra">
            <div class="tool">
                <a href="javascript:void(0);"><!-- Share --></a>
            </div>

            <hr>
            {% unless page.categories == empty %}
            <ul class="tag-box inline">
                <li><i class="icon icon-folder-open"></i></li>
                {% assign categories_list = page.categories %}
                {% include JB/categories_list %}
            </ul>
            {% endunless %}

            {% unless page.tags == empty %}
            <ul class="tag-box inline">
                <li><i class="icon icon-tags"></i></li>
                {% assign tags_list = page.tags %}
                {% include JB/tags_list %}
            </ul>
            {% endunless %}

            <hr>
            <div class="pagination post">
                <ul>
                    {% if page.previous %}
                    <li class="prev">
                        <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">上一篇：{{ page.previous.title }}</a>
                    </li>
                    {% else %}
                    <li class="prev disabled">
                        <a>上一篇：没有了</a>
                    </li>
                    {% endif %}
                    {% if page.next %}
                    <li class="next">
                        <a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">下一篇：{{ page.next.title }}</a>
                    </li>
                    {% else %}
                    <li class="next disabled">
                        <a>下一篇：没有了</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <hr>
            {% include JB/comments %}
            {% include JB/sharing %}
        </div>
    </div>
</div>
