body, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
body, input, select, textarea{
    font-family: Avenir, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, sans-serif;
}
a, p{
    color: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    font-weight: inherit;
}
a, a:link, a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}

pre{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    display: block;
    padding: 10px;
    margin: 0 0 10px 0;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}
code{
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #333;
    font-size: 14px;
    font-family: Monaco, Menlo, Consolas, Courier New, monospace;
    padding: 2px 4px;
    white-space: nowrap;
}
pre code{
    background-color: transparent;
    border: 0;
    color: inherit;
    padding: 0;
    white-space: pre-wrap;
}
blockquote{
    border-left: 5px solid #1abc9c;
    margin: 0 0 0 20px;
    padding: 5px 0 5px 15px;
}
blockquote p{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.25em;
    margin-bottom: 0;
}
hr{
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
    margin: 20px 0;
}
.subtitle{
    font-style: italic;
}

/* outline STARTS */
#bodyWrap{
    background-color: #eee;
}
#header{
    background: url('../img/hdbg02.jpg') no-repeat;
}
#logo{
    color: #fff;
    font-family: Verdana;
    padding: 50px 0;
}
#logo h1{
    font-size: 40px;
}
#logo a{
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
}
#logo a:hover{
    color: #FFCC66;
}
#mainContent{
    float: left;
    margin-right: 0.83%;
    width: 73.33%;
}
#sidebar{
    float: left;
    margin-left: 0.83%;
    width: 23.33%;
}
#footer{
    background-color: #555;
    color: #aaa;
    padding: 50px 0;
    text-align: center;
}
#footer a{
    color: #0088cc;
}
.outer{
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 20px;
    *zoom: 1;
}
.outer:after, .outer:before{
    content: ' ';
    display: block;
}
.outer:after{
    clear: both;
}
/* outline ENDS */

/* nav STARTS */
#mainNav{
    background: rgba(255,255,255,0.2);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    height: 48px;
}
#mainNavToggle{
    display: none;
    padding: 15px 10px;
}
.nav-icon{
    display: inline-block;
    padding: 6px 10px;
}
.nav-icon .icon-bar{
    background-color: #f5f5f5;
    display: block;
    height: 3px;
    margin-top: 3px;
    width: 24px;
}
.nav-list{
    height: 48px;
    line-height: 48px;
    /* hack for IE 垂直居中 */
    /*height: 40px !important;*/
    /*padding-top: 8px !important;*/
    *height: 48px;
    *padding-top: 0px;
}
.nav-list li{
    float: left;
    margin-right: 16px;
}
.nav-list li a{
    background-color: #555;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #fff;
    display: inline-block;
    line-height: 32px;
    padding: 0 20px;
}
.nav-list li.search{
    float: right;
    margin-right: 20px;
}
.nav-list li.search form{
    display: inherit;
}
.nav-list li.search input[type=text]{
    font-size: 16px;
    height: 26px;
    padding: 2px 4px;
    width: 220px;
}
#searchIcon{
    width: initial;
}
/* nav ENDS */

/* article STARTS */
.article{
    margin: 50px 0;
}
.article-info{
    color: #999;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 12px;
    padding-left: 4px;
    text-shadow: 0 1px #fff;
    *zoom: 1;
}
.article-info:after,
.article-info:before{
    content: ' ';
    display: block;
}
.article-info:after{
    clear: both;
}
.article-info .post-time{
    float: left;
}
.article-info .category{
    float: left;
    margin-left: 8px;
}
.article-info .category:before{
    content: '\2022';
}
.article-inner{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 1px 2px 3px #ddd;
    -webkit-box-shadow: 1px 2px 3px #ddd;
    -moz-box-shadow: 1px 2px 3px #ddd;
    overflow: hidden;
    padding: 20px;
}
.article-title{
    margin-bottom: 20px;
}
.article-title a{
    color: #555;
}
.article-title a:hover{
    color: #0088cc;
}
.article-entry{

}
.article-entry p{
    line-height: 24px;
}
.article-entry .content > p{
    margin: 1em 0;
}
.article-entry .content h1,
.article-entry .content h2,
.article-entry .content h3{
    margin: 1em 0 10px 0;
}
.article-entry .content ul{
    list-style: initial;
    margin: 1em 0;
    padding-left: 20px;
}
.article-entry .content strong{
    background-color: #ff0;
}
.article-entry .content em{
    font-weight: bold;
}
.article-entry .read-more{
    margin-top: 20px;
}
/* article ENDS */

/* widget STARTS */
.widget-wrap{
    margin: 50px 0;
}
.widget-title{
    color: #999;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 12px;
    padding-left: 4px;
    text-shadow: 0 1px #fff;
    /* same as article-info */
}
.widget{
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 -1px 4px #ddd inset;
    -webkit-box-shadow: 0 -1px 4px #ccc inset;
    -moz-box-shadow: 0 -1px 4px #ccc inset;
    color: #777;
    padding: 12px 16px;
    word-wrap: break-word;
}
.widget a:hover{
    color: #0088cc;
    text-decoration: underline;
}
/* widget ENDS */

/* button & link STARTS */
.btn{
    background-color: #0088cc;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 6px 12px;
}
.btn:hover{
    background-color: #0088cc;
    color: #fff;
}
.btn-inverse{
    background-color: #eee;
    color: #999;
    text-shadow: 0 1px #fff;
}
.btn-inverse:hover{
    background-color: #0088cc;
    color: #fff;
    text-shadow: inherit;
}
.btn-radius{
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}
a.default{
    color: inherit;
}
a.default:hover{
    color: #0088cc;
}
a.info{
    color: #0088cc;
}
a.inverse:hover{
    color: #fff;
}
a.underline:hover{
    text-decoration: underline;
}
/* button ENDS */

/* tag-box STARTS */
.tag-box{
    list-style: none;
    margin: 0;
    overflow: hidden;
    *zoom: 1;
}
.tag-box li{
    line-height: 28px;
}
.tag-box li i{
    opacity: 0.9;
}
.tag-box.inline li{
    float: left;
}
.tag-box a{
    background: #eee;
    border: 1px dashed #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #555;
    margin: 2px;
    padding: 3px 6px;
    text-decoration: none;
}
.tag-box a span {
    font-size: 0.8em;
    vertical-align: super;
}
.tag-box a:hover {
    background-color: #e5e5e5;
}
.tag-box a.active {
    background: #57A957;
    border: 1px solid #4c964d;
    color: #FFF;
}
/* tag-box ENDS */

/* icon STARTS */
.icon{
    background-image: url('../img/glyphicons-halflings.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}
.icon-folder-open{
    background-position: -408px -120px;
    width: 16px;
}
.icon-tags{
    background-position: -25px -48px;
}
/* icon ENDS */

/* pagination STARTS */
/* simple*/
.pagination{
    margin: 20px 0;
}
.pagination ul{
    overflow: hidden;
    *zoom: 1;
}
.pagination li.prev{
    float: left;
}
.pagination li.next{
    float: right;
}
.pagination li a:hover{
    color: #0088cc;
}
.pagination li.disabled a,
.pagination li.disabled a:hover{
    color: #999;
    cursor: default;
}
/* patch FUCK */
.pagination li a.btn:hover{
    color: #fff;
}
/* pagination ENDS */

/* colorful font STARTS */
.fs-20{
    font-size: 20px;
}
.fs-24{
    font-size: 24px;
}
.fs-28{
    font-size: 28px;
}
.fs-32{
    font-size: 32px;
}
.aqua{
    color: #5EF6B5;
}
.blue{
    color: #0092C7;
}
.gold{
    color: #FFD700;
}
.orange{
    color: #F38322;
}
.pink{
    color: #F50299;
}
.purple{
    color: #8A2B8E;
}
.violet{
    color: #EE82EE;
}
/* colorful font ENDS */

/* about STARTS */
#aboutContent{
    /*overflow: hidden;*/
    *zoom: 1;
}
#aboutContent:before,
#aboutContent:after{
    content: '\20';
    display: table;
    line-height: 0;
}
#aboutContent:after{
    clear: both;
}
#aboutContent p{
    font-size: 18px;
    margin-bottom: 12px;
    text-align: center;
}
#aboutLeft{
    float: left;
    width: 30%;
}
#aboutRight{
    float: left;
    margin-left: 20px;
    width: 60%;
}
/* about ENDS */

/* media STARTS */
@media screen and (max-width: 767px){
    #mainContent{
        float: none;
        margin-right: 0;
        width: 100%;
    }
    #sidebar{
        float: none;
        margin-left: 0;
        width: 100%;
    }
    #mainNavToggle{
        display: inline-block;
    }
    #mainNavList{
        display: none;
    }
    .nav-list{
        margin: 0 -20px;
        position: relative;
    }
    .nav-list li{
        background-color: #555;
        float: none;
        margin: 0;
    }
    .nav-list li a{
        background: none;
        padding: 0 30px;
    }
    .nav-list li.search{
        float: none;
        margin: 0;
        padding: 0 0 10px 30px;
    }
    .pagination.post li.prev,
    .pagination.post li.next{
        float: none;
    }
}
@media screen and (max-width: 640px){
    #aboutLeft{
        float: none;
        text-align: center;
        width: 100%;
    }
    #aboutRight{
        float: none;
        margin: 12px 0 0 0;
        width: 100%;
    }
}
/* media ENDS */