ul{
    list-style: none;
}
.clear-left{
    clear: left;
}
.clear-right{
    clear: right;
}
.clear-both{
    clear: both;
}
.float-fill{
    overflow: auto;
    *zoom: 1;
}

body{
    min-width: 1170px;
}
header{
	margin-bottom: 20px;
}
.navbar-inner{
	font-size: 16px;
	height: 50px;
	padding-top: 10px;
}
.post-sidenav{
    display: none;
}
#mainContainer{
    margin-left: 65px;
    width: 1170px;
}
footer{
	margin-top: 20px;
	text-align: center;
}