<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>弹性列布局</title>
    <style type="text/css">
    .container{
        /*width: 1000px;*/
        margin: 0 auto;
        overflow: hidden;
    }
    </style>
</head>
<body>
    <div class="container">
        <div id="leftWrap">
            <div id="leftDiv">left<br></div>
        </div>
        <div id="rightWrap">
            <div id="rightDiv">right<br><br><br><br><br></div>
        </div>
        <div id="mainDiv">
            content<br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</body>
</html>